<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Browse</title>
</head>

<body>
	<h1>Come do Some Browse brah</h1>
	<p>Waddup yo. We got some good shit for you to browse right here.</p>
</body>

<footer>
	<!--  Import JQuery. Also ajax I think? -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<!-- Custom JQuery/JavaScript Script -->
	<script>
		  
	</script>	
</footer>

</html>