<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Create Auction Page</title>
    </head>
    <body>
    	<h1>Create Auction</h1>
     	<!-- Form Should submit a Auction object using JSON -->   	
        <form enctype="application/json">
        	<table>
        		<tr>
					<td><label>Start Date</label></td>
					<td><input type="date" id="startDate" name="startDate"/></td>
					<td><label id="validStart"></label></td>
        		</tr>
     		    <tr>
					<td><label>End Date</label></td>
					<td><input type="date" id="endDate" name="endDate"/></td>
					<td><label id="validEnd"></label></td>
        		</tr>
        		<tr>
					<td><label>Item Name</label></td>
					<td><input type="text" name="item[name]"/></td>
        		</tr>
        		<tr>
					<td><label>Description</label></td>
					<td><input type="text" name="item[description]"/></td>
        		</tr>
        		<tr>
					<td><label>Category</label></td>
					<td><input type="text" name="item[category]"/></td>
        		</tr>
        		<tr>
        			<td><input type="submit" value="Create Auction" id="createAuctionBtn"/></td>
        		</tr>
        	</table>
        </form>
        
        <script>
        	//Verification Scripts
        </script>
        
    </body>
</html>