<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Sign Up Page</title>
    </head>
    <body>
    	<h1 id = "txt">Account Sign Up</h1>
    	<!-- Form Should submit a UserDetails object using JSON -->
        <form enctype="application/json">
        	<table>
        		<tr><!-- Verify Unique -->
        			<td><label> User Name : </label></td>
        			<td><input type="text" id="userName" onkeyup="checkUserName()"/></td>
        			<td><label id="UniqueUserName" style="color:#FF0000"></label>		<!-- Make Font Color RED --></td>
        		</tr>
        		<tr>
        			<td><label> Real Name : </label></td>
        			<td><input type="text" /></td>
        		</tr>
        		<tr>
        			<td><label> Password:</label></td>
        			<td><input type="password" id="new_pass" onkeyup="checkPassword()"/></td>
        		</tr>
        		<tr><!-- Verify Matches Password-->
        			<td><label> Confirm Password:</label></td>
        			<td><input type="password" id="confirm_pass" onkeyup="checkPassword()"/></td>
        			<td><label id="validPassword" style="color:#FF0000"></label>		<!-- Make Font Color RED --></td>
        		</tr>
        		<tr>
        			<td>    			
	        			<button type="submit" id="signUpBtn">Sign Up</button>
        			</td>
        		</tr>
        	</table>
        </form>
        
        
        
    </body>
    <footer>
   		<!-- import jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    	<script>
	        var originalUser = null;
        
			$(document).ready(function(){
				$("#signUpBtn").click(function(){
					var output = {"userName":"", "password":"","enabled":1};
					output.userName = $("#userName").val();
					output.password = $("#new_pass").val();
					
					if (originalUser == null) {
						$.ajax({
							type: "POST",
							url: "/auth/user/add",
							contentType: "application/json",
							data: JSON.stringify(output),
							success: function(msg, status, jqXHR){
								console.log("WIN");
								
							},
							error: function(){
								console.log("LOSE");
							}
						});
					}
					
					//Need to make new role for new user
				});
			});
			
			function checkUserName(){
				var userName = document.getElementById("userName").value;
        		//Check userName value is not in database
				
        		/*				NOT YET WORKING
				$.ajax({
							type: "GET",
							contentType: "application/json",
							data:JSON.stringify({"name":userName}),
							url: "/auth/user/username",
							success: function(msg, status, jqXHR){
								console.log(msg);
								if(msg==""){
					        		if(document.getElementById("validPassword").innerHTML == ""){
					        			document.getElementById("signUpBtn").disabled = false;
					        		}
								}
								else{
			        				document.getElementById("UniqueUserName").innerHTML = "Username taken";
			    					document.getElementById("signUpBtn").disabled = true;
								}
								console.log(msg);
							},
							error: function(){
							}
						});
        		*/
        		
        		
        		/*
        		for(String screenName : Users.username){
        			if(userName == screenName){
        			}
        		}
        		if(document.getElementById("validPassword").innerHTML == ""){
        			document.getElementById("signUpBtn").disabled = false;
        		}
        		*/
			}
			
			function checkPassword(){
        		//Also Check for Complexity ?
        		console.log("here");
        		var pass = document.getElementById("new_pass").value;
        		var confirm_pass = document.getElementById("confirm_pass").value;
        		if(pass != confirm_pass){
					document.getElementById("validPassword").innerHTML = "Passwords do not match";
					document.getElementById("signUpBtn").disabled = true;
        		}
        		else{
					document.getElementById("validPassword").innerHTML = "";
					if(document.getElementById("UniqueUserName").innerHTML==""){
						document.getElementById("signUpBtn").disabled = false;						
					}
        		}
        	}
        </script>
    </footer>
</html>